.gb-wrapper {
    &:hover .gb::after {
        opacity: 1;
    }
}
.gb {
    position: relative;
    &__bg,
    &__border {
        position: absolute;
        display: inline-block;
        border-radius: inherit;
        pointer-events: none;
    }
    &__bg { // border
        inset: var(--border-width);
        z-index: -9;
        background: var(--bg-color);
    }
    &__border {
        inset: 0;
        z-index: -10;
        background-color: var(--border-color);
    }

    &:hover::before {
        opacity: 1;
    }
    &::before, &::after {
        content: "";
        position: absolute;
        border-radius: inherit;
        pointer-events: none;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity 0.5s;
    }
    &::before { // card glow
        background: radial-gradient(
            var(--glow-size) circle at var(--mouse-x) var(--mouse-y),
            var(--glow-color),
            transparent 50%
        );
        z-index: -8;
    }
    &::after { // border glow
        background: radial-gradient(
            var(--border-glow-size) circle at var(--mouse-x) var(--mouse-y),
            var(--border-glow-color),
            transparent 50%
        );
        z-index: -10;
    }
}