:host {
  .container {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-neutral-800);
      border-radius: 4px;
      transition: background-color 300ms ease-in-out;
      &:hover {
        background-color: var(--color-neutral-700);
      }
    }
  }
  
}