@let item = project();
<div class="flex items-start gap-4 justify-between">
  <div class="flex items-start gap-3">
    <img class="invert size-9" [style.view-transition-name]="readyToOpen() ? 'pc-icon-' + item.id : null"
    src="/icons/github.png" alt="Github Icon">
    <div class="flex flex-col items-start gap-1">
      <div class="flex items-center gap-2">
        <h1 class="font-semibold line-clamp-1 cursor-default" 
        [style.view-transition-name]="readyToOpen() ? 'pc-title-' + item.id : null"
        [matTooltip]="item.repo_title" matTooltipPosition="above" 
        >{{ item.repo_title }}</h1>
        <a class="text-neutral-500 hover:text-neutral-300 transition-colors"
        [matTooltip]="'Ir para repositório ' + item.title" matTooltipPosition="above"
        href="{{ item.repository_url }}" target="_blank" rel="noopener noreferrer">
          <i class="fi fi-rr-link flex text-xs"></i>
        </a>
      </div>
      <div [ngClass]="item.commit_count >= 15 ? 'text-[hsl(48,15%,56%)]' : 'text-neutral-500'"
      class="flex items-center gap-1 text-xs cursor-default"
      [matTooltip]="item.commit_count + (item.commit_count === 1 ? ' commit' : ' commits')" matTooltipPosition="above">
        <i class="fi fi-rr-code-compare flex"></i>
        <span>{{ item.commit_count }}</span>
      </div>
    </div>
  </div>
  <span class="text-sm shrink-0" [style.view-transition-name]="readyToOpen() ? 'pc-date-' + item.id : null"
  [ngClass]="item.is_highlight ? 'text-[hsl(48,10%,50%)]' : 'text-neutral-500'">
    {{ item.created_at | date: 'dd MMM. yyyy' }}
  </span>
</div>

<!-- <p [style.view-transition-name]="readyToOpen() ? 'pc-description-' + item.id : null"
class="text-sm text-neutral-400 line-clamp-3">{{ item.description }}</p> -->
<markdown class="markdown-styles text-sm text-neutral-400 line-clamp-3"
[style.view-transition-name]="readyToOpen() ? 'pc-description-' + item.id : null"
[data]="item.description || ''">

</markdown>


<div class="flex justify-between gap-2 mt-auto text-sm">
  <button [style.view-transition-name]="readyToOpen() ? 'pc-details-' + item.id : null"
  class="px-3 py-1 !rounded-lg" custom-btn variant="outline"
  (click)="detailsClick.emit()">Detalhes técnicos</button>
  @if(item.site_url) {
    <button [style.view-transition-name]="readyToOpen() ? 'pc-preview-' + item.id : null"
    class="gap-2 px-3 py-1 !rounded-lg flex items-center !shadow-white/15" custom-btn variant="contained"
    (click)="previewClick.emit()">
      <i class="fi fi-br-expand flex"></i>
      <span>Preview</span>
    </button>
  }
</div>

<!-- highlight gradient -->
@if(item.is_highlight) {
  <span class="absolute inset-0 pointer-events-none
  bg-gradient-to-bl from-0% to-50% from-[hsl(48_40%_15%_/_.25)] to-transparent">
  </span>
}
<!-- highlight gradient -->
