:host {
  // initial state for the host before it becomes visible
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.glow-fx {
  // initial animation state for the icon
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-out;
}

.timeline-line {
  // initial animation state for the line
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.6s 0.4s ease-out;
}

:host(.is-visible) {
  // final state for the host after it becomes visible
  opacity: 1;

  .glow-fx {
    // final animation state for the icon
    opacity: 1;
    transform: scale(1);
  }
  .timeline-line {
    // final animation state for the line
    transform: scaleY(1);
  }
}

.glow-fx {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;

    // use css variables provided by the component's style binding
    height: var(--glow-size);
    width: var(--glow-size);
    background: var(--glow-color);
    filter: blur(var(--glow-blur));
  }
}