// initial state for elements inside the content div before it becomes visible
$titleDelay: 0.3s;
div[blockIntersection],
div[data-first-item] {
  h1, li, .separator, .year {
    filter:blur(5px);
    opacity: 0;
    transform: translateX(-3rem);
    transition: $titleDelay 0.3s ease-out;
    transition-property: opacity, transform, filter;
  }
}

// final state when the content div is visible
div[blockIntersection].is-visible,
div[data-first-item].is-visible {
  h1, .separator, .year {
    filter:blur(0);
    opacity: 1;
    transform: translateX(0);
  }
  .separator {
    transition-delay: #{$titleDelay + 75ms};
  }
  .year {
    transition-delay: #{$titleDelay + 160ms};
  }
  
  // apply staggered delay to list items
  li {
    opacity: 1;
    transform: translateX(0);
    filter:blur(0);
    
    @for $i from 1 through 10 {
      $delay: 200; // base delay

      &:nth-child(#{$i}) {
        transition-delay: #{$delay + ($i * 50)}ms;
      }
    }
  }
}