@let margin_b = 'mb-16 sm:mb-10';
@let space_y = 'space-y-2';
@let about_me = lg().developer;

<app-timeline
  [isVisible]="block1Visible()"
  [lineGradient]="{ type: 'custom-middle', middleColors: ['transparent', 'hsl(60, 40%, 60%)', 'transparent'] }"
  size="1.2rem" margin="1rem 0 0 0" iconClass="opacity-30" glowColor="transparent"
  iconUrl="/icons/others/circle.webp"
/>
<div [class]="margin_b" data-first-item [class.is-visible]="block1Visible()">
  <h1 class="text-4xl font-semibold mb-4">{{ about_me.main_info.title }}</h1>
  <ul class="{{space_y}} sm:text-lg">
    @for (description of about_me.main_info.descriptions; track $index) {
      <li>
        <markdown class="about-me-markdown  about-me-markdown--main text-neutral-400 leading-relaxed" [data]="description"></markdown>
      </li>
    }
  </ul>
  <div class="flex items-center gap-6 mt-6 flex-wrap">
    <button custom-btn class="flex items-center gap-2 px-3 py-1 !rounded-lg" >
      <i class="fi fi-sr-resume flex"></i>
      {{ about_me.main_info.cv_button }}
    </button>
    <a routerLink="../../projects"
    custom-btn variant="outline" class="flex items-center gap-2 px-3 py-1 !rounded-lg" >
      <i class="fi fi-tr-folder-open flex"></i>
      {{ about_me.main_info.portfolio_button }}
    </a>
    <ul id="contact" class="inline-flex xs:text-xl divide-x divide-neutral-600 items-center flex-wrap">
      <li><app-social-icon class="xs:pr-4 pr-3 flex" variant="none" icon="fi fi-sr-envelope-plus flex" url="mailto:edumoreira.dev@gmail.com" description="Email" /></li>
      <li><app-social-icon class="xs:px-4 px-3 flex" variant="none" icon="fi fi-brands-github flex" url="https://github.com/edumoreiira" description="GitHub" /></li>
      <li><app-social-icon class="xs:px-4 px-3 flex" variant="none" icon="fi ri-linkedin-fill flex text-lg xs:text-2xl" url="https://www.linkedin.com/in/eduardo-moreira-475b76368/" description="LinkedIn" /></li>
      <li><app-social-icon class="xs:px-4 px-3 flex" variant="none" icon="fi fi-brands-twitter-alt flex"  url="https://twitter.com/edumoreira_dev" description="Twitter" /></li>
      <li><app-social-icon class="xs:px-4 px-3 flex" variant="none" icon="flex fi fi-brands-behance" url="https://www.behance.net/eduumoreira" description="Behance" /></li>
      <li><app-social-icon class="xs:pl-4 pl-3 flex" variant="none" icon="ri-instagram-fill text-lg xs:text-2xl" url="https://www.instagram.com/edumoreira.dev/" description="Instagram" /></li>
    </ul>
  </div>
</div>

<app-timeline 
  [isVisible]="block2Visible()"
  [lineGradient]="{ type: 'custom-middle', middleColors: ['transparent', 'hsl(60, 40%, 60%)', 'hsl(15 100% 60%)'] }"
  size="1.5rem" margin=".5rem 0 .5rem 0" glowColor="hsl(60, 40%, 60%)" glowBlur="1.9rem" glowSize="1.5rem" 
  iconUrl="/icons/others/history.webp"
/>
<div [class]="margin_b" blockIntersection (visible)="block2Visible.set(true)">
  <h1 class="text-2xl font-semibold mb-4">{{ about_me.explanation.title }}</h1>
  <ul class="{{space_y}} sm:text-lg">
    <li>
      <p class="text-neutral-400 text-xl">{{ about_me.explanation.description }}</p>
    </li>
    <li>
      <div class="inline-flex border border-orange-200/20 rounded-xl overflow-hidden">
        <div class="flex items-center justify-center border-r border-r-orange-200/10 bg-orange-200/5 px-2">
          <i class="fi fi-rr-comment-info text-orange-200 flex"></i>
        </div>
        <p class="py-1.5 px-2">{{ about_me.explanation.warn_box.text }}
          <button custom-btn (click)="scrollTo('techs')"
          class="inline-flex items-start py-1 px-2 !rounded-lg text-xl cursor-pointer text-xs"
          variant="outline">
            <span>{{ about_me.explanation.warn_box.button }}</span>
          </button>
        </p>
      </div>
    </li>
  </ul>
</div>

@if (about_me.timeline_items) {
  <app-timeline 
    [isVisible]="block3Visible()"
    [lineGradient]="{ type: 'linear', from: 'hsl(15 100% 60%)', to: 'hsl(210 80% 60.78%)' }"
    iconUrl="/icons/techs/portswigger.webp"
    size="1.5rem" margin=".5rem 0 .5rem 0" glowColor="hsl(15 100% 80%)" glowBlur="1.9rem" glowSize="1.5rem"
  />
  <div [class]="margin_b" blockIntersection (visible)="block3Visible.set(true)">
    <div class="flex sm:flex-row flex-col sm:items-center gap-2 mb-6 sm:mb-4">
      <h1 class="text-2xl">{{ about_me.timeline_items[0].title.text }}</h1>
      <div class="h-px w-5 bg-neutral-400 separator"></div>
      <span class="text-neutral-400 year">{{ about_me.timeline_items[0].title.year }}</span>
    </div>
    <ul class="{{space_y}} sm:text-lg">
      @for (description of about_me.timeline_items[0].descriptions; track $index) {
        <li>
          <markdown [class]="description.highlight ? 'text-neutral-300' : 'text-neutral-400'"
          class="about-me-markdown about-me-markdown--security leading-relaxed" [data]="description.text"></markdown>
        </li>
      }
    </ul>
  </div>

  <app-timeline 
    [isVisible]="block4Visible()"
    [lineGradient]="{ type: 'linear', from: 'hsl(210 80% 60.78%)', to: 'oklch(59.6% 0.145 163.225)' }"
    iconUrl="/icons/techs/photoshop.webp"
    size="1.5rem" margin=".5rem 0 .5rem 0"   glowColor="hsl(210 80% 70.78%)" glowBlur="1.9rem" glowSize="1.5rem"
  />
  <div [class]="margin_b" blockIntersection (visible)="block4Visible.set(true)">
    <div class="flex sm:flex-row flex-col sm:items-center gap-2 mb-6 sm:mb-4">
      <h1 class="text-2xl">{{ about_me.timeline_items[1].title.text }}</h1>
      <div class="h-px w-5 bg-neutral-400 separator"></div>
      <span class="text-neutral-400 year">{{ about_me.timeline_items[1].title.year }}</span>
    </div>
    <ul class="{{space_y}} sm:text-lg">
      @for (description of about_me.timeline_items[1].descriptions; track $index) {
        <li>
          <markdown [class]="description.highlight ? 'text-neutral-300' : 'text-neutral-400'"
          class="about-me-markdown leading-relaxed" [data]="description.text"></markdown>
        </li>
      }
    </ul>
  </div>

  <app-timeline 
    [isVisible]="block5Visible()"
    [lineGradient]="{ type: 'linear', from: 'oklch(59.6% 0.145 163.225)', to: 'hsl(136.07deg 75.83% 60.78%)' }"
    iconUrl="/icons/techs/pinescript.webp"
    size="1.5rem" margin=".5rem 0 .5rem 0" glowColor="oklch(85.6% 0.145 163.225)" glowBlur="1.9rem" glowSize="1.5rem"
  />
  <div [class]="margin_b" blockIntersection (visible)="block5Visible.set(true)">
    <div class="flex sm:flex-row flex-col sm:items-center gap-2 mb-6 sm:mb-4">
      <h1 class="text-2xl">{{ about_me.timeline_items[2].title.text }}</h1>
      <div class="h-px w-5 bg-neutral-400 separator"></div>
      <span class="text-neutral-400 year">{{ about_me.timeline_items[2].title.year }}</span>
    </div>
    <ul class="{{space_y}} sm:text-lg">
      @for (description of about_me.timeline_items[2].descriptions; track $index) {
        <li>
          <markdown [class]="description.highlight ? 'text-neutral-300' : 'text-neutral-400'"
          class="about-me-markdown about-me-markdown--financial leading-relaxed" [data]="description.text"></markdown>
        </li>
      }
    </ul>
  </div>

  <app-timeline 
    [isVisible]="block6Visible()"
    [lineGradient]="{ type: 'linear', from: 'hsl(136.07deg 75.83% 60.78%)', to: 'hsl(306 91% 59%)' }"
    iconUrl="/icons/others/ifb.webp"
    size="1.1rem" margin=".7rem 0 .7rem 0" glowColor="hsl(136.07deg 75.83% 70.78%)" glowBlur="1.9rem" glowSize="1.5rem"
  />
  <div [class]="margin_b" blockIntersection (visible)="block6Visible.set(true)">
    <div class="flex sm:flex-row flex-col sm:items-center gap-2 mb-6 sm:mb-4">
      <h1 class="text-2xl">{{ about_me.timeline_items[3].title.text }}</h1>
      <div class="h-px w-5 bg-neutral-400 separator"></div>
      <span class="text-neutral-400 year">{{ about_me.timeline_items[3].title.year }}</span>
    </div>
    <ul class="{{space_y}} sm:text-lg">
      @for (description of about_me.timeline_items[3].descriptions; track $index) {
        <li>
          <markdown [class]="description.highlight ? 'text-neutral-300' : 'text-neutral-400'"
          class="about-me-markdown leading-relaxed" [data]="description.text"></markdown>
        </li>
      }
    </ul>
  </div>

  <app-timeline 
    [isVisible]="block7Visible()"
    [lineGradient]="{ type: 'linear', from: 'hsl(306 91% 59%)', to: 'hsl(76 76% 57%)' }"
    iconUrl="/icons/techs/angular.webp"
    size="1.5rem" margin=".5rem 0 .5rem 0" glowColor="hsl(306 91% 68%)" glowBlur="1.9rem" glowSize="1.5rem"
  />
  <div [class]="margin_b" blockIntersection (visible)="block7Visible.set(true)">
    <div class="flex sm:flex-row flex-col sm:items-center gap-2 mb-6 sm:mb-4">
      <h1 class="text-2xl">{{ about_me.timeline_items[4].title.text }}</h1>
      <div class="h-px w-5 bg-neutral-400 separator"></div>
      <span class="text-neutral-400 year">{{ about_me.timeline_items[4].title.year }}</span>
    </div>
    <ul class="{{space_y}} sm:text-lg">
      @for (description of about_me.timeline_items[4].descriptions; track $index) {
        <li>
          <markdown [class]="description.highlight ? 'text-neutral-300' : 'text-neutral-400'"
          class="about-me-markdown about-me-markdown--angular leading-relaxed" [data]="description.text"></markdown>
        </li>
      }
    </ul>
  </div>
  
  <app-timeline 
    [isVisible]="block8Visible()"
    [lineGradient]="{ type: 'linear', from: 'hsl(76 76% 57%)', to: 'hsl(42 76% 57%)' }"
    iconUrl="/icons/techs/spring-boot.webp"
    size="1.5rem" margin=".5rem 0 .5rem 0" glowColor="hsl(76 76% 67%)" glowBlur="1.9rem" glowSize="1.5rem"
  />
  <div [class]="margin_b" blockIntersection (visible)="block8Visible.set(true)">
    <div class="flex sm:flex-row flex-col sm:items-center gap-2 mb-6 sm:mb-4">
      <h1 class="text-2xl">{{ about_me.timeline_items[5].title.text }}</h1>
      <div class="h-px w-5 bg-neutral-400 separator"></div>
      <span class="text-neutral-400 year">{{ about_me.timeline_items[5].title.year }}</span>
    </div>
    <ul class="{{space_y}} sm:text-lg">
      @for (description of about_me.timeline_items[5].descriptions; track $index) {
        <li>
          <markdown [class]="description.highlight ? 'text-neutral-300' : 'text-neutral-400'"
          class="about-me-markdown leading-relaxed" [data]="description.text"></markdown>
        </li>
      }
    </ul>
  </div>

  <app-timeline 
    [isVisible]="block9Visible()"
    [lineGradient]="{ type: 'linear', from: 'hsl(42 76% 57%)', to: 'hsl(0 0% 80%)' }"
    iconUrl="/icons/others/gear.webp"
    size="1.5rem" margin=".5rem 0 .5rem 0" glowColor="hsl(42 76% 67%)" glowBlur="1.9rem" glowSize="1.5rem"
  />
  <div blockIntersection (visible)="block9Visible.set(true)">
    <h1 class="text-2xl mb-4">{{ about_me.timeline_items[6].title.text }}</h1>
    <div class="{{margin_b}}">
      <ul class="{{space_y}} sm:text-lg">
        @for (description of about_me.timeline_items[6].descriptions; track $index) {
        <li>
          <markdown [class]="description.highlight ? 'text-neutral-300' : 'text-neutral-400'"
          class="about-me-markdown leading-relaxed" [data]="description.text"></markdown>
        </li>
        }
        @let bonus = about_me.timeline_items[6].bonus_info;
        @if(bonus) {
          <li>
            <p class="text-neutral-300 leading-relaxed">
              {{ bonus[0] }}
              <a [routerLink]="bonus[2]" class="text-yellow-500 hover:text-yellow-400 transition-colors hover:underline">
                {{ bonus[1] }}
              </a>
            </p>
          </li>
        }
      </ul>
    </div>
  </div>

  <app-timeline 
    [isVisible]="block10Visible()"
    [lineGradient]="{ type: 'custom-middle', middleColors: ['hsl(0 0% 70%)', 'hsl(0 0% 70%)', 'transparent'] }"
    iconUrl="/icons/others/rocket.webp"
    size="1.5rem" margin=".5rem 0 .5rem 0" glowColor="hsl(0 0% 80%)" glowBlur="1.9rem" glowSize="1.5rem"
  />
  <div blockIntersection (visible)="block10Visible.set(true)">
    <h1 class="text-2xl font-semibold mb-4">{{ about_me.timeline_items[7].title.text }}</h1>
    <div class="mb-24">
      <ul class="{{space_y}} sm:text-lg">
        @for (description of about_me.timeline_items[7].descriptions; track $index) {
        <li>
          <markdown [class]="description.highlight ? 'text-neutral-300' : 'text-neutral-400'"
          class="about-me-markdown leading-relaxed" [data]="description.text"></markdown>
        </li>
        }
      </ul>
    </div>
  </div>
}

<app-timeline
  [isVisible]="block11Visible()"
  [lineGradient]="{ type: 'custom-middle', middleColors: ['transparent', 'hsl(0 0% 70%)', 'transparent'] }"
  size="1.5rem" margin=".3rem 0 0 0" glowColor="hsl(60 80% 80%)" glowBlur="0" glowSize="0rem"
  iconClass="opacity-20"
  iconUrl="/icons/others/pen.webp"
/>
<div blockIntersection (visible)="block11Visible.set(true)">
  <ul class="inline-flex xs:text-xl divide-x divide-neutral-600 items-center flex-wrap">
    <li><app-social-icon class="xs:pr-4 pr-3 flex" variant="none" icon="fi fi-sr-envelope-plus flex" url="mailto:edumoreira.dev@gmail.com" description="Email" /></li>
    <li><app-social-icon class="xs:px-4 px-3 flex" variant="none" icon="fi fi-brands-github flex" url="https://github.com/edumoreiira" description="GitHub" /></li>
    <li><app-social-icon class="xs:px-4 px-3 flex" variant="none" icon="fi ri-linkedin-fill flex text-lg xs:text-2xl" url="https://www.linkedin.com/in/eduardo-moreira-475b76368/" description="LinkedIn" /></li>
    <li><app-social-icon class="xs:px-4 px-3 flex" variant="none" icon="fi fi-brands-twitter-alt flex"  url="https://twitter.com/edumoreira_dev" description="Twitter" /></li>
    <li><app-social-icon class="xs:px-4 px-3 flex" variant="none" icon="flex fi fi-brands-behance" url="https://www.behance.net/eduumoreira" description="Behance" /></li>
    <li><app-social-icon class="xs:pl-4 pl-3 flex" variant="none" icon="ri-instagram-fill text-lg xs:text-2xl" url="https://www.instagram.com/edumoreira.dev/" description="Instagram" /></li>
  </ul>
</div>