<div [class]="containerClass()"
app-glowing-border glowColor="hsla(0, 0%, 25%, 0.1)" borderColor="var(--color-neutral-900)" glowSize="500px" borderGlowSize="800px" [glowDelay]="10">
  <div app-glowing-border-item [borderColor]="documentListener.isSm() ? 'var(--color-neutral-900)' : 'var(--color-neutral-800)'"
  class="m-px overflow-hidden rounded-2xl">
    <div 
    class="grid grid-cols-[1fr] sm:grid-cols-[1fr_4fr] grid-rows-[200px] md:grid-rows-[220px] rounded-2xl overflow-hidden m-px relative
    mask-y-from-80% mask-y-to-100% mask-r-from-95% mask-r-to-100%">
      <div class="flex flex-col justify-center sm:items-start items-center sm:ml-12 lg:ml-24 z-20">
        <h1 class="text-4xl sm:text-[2.4rem] md:text-5xl lg:text-6xl font-semibold text-nowrap">Portfólio</h1>
        <a [routerLink]="['../../projects']"
        class="text-lg sm:text-base md:text-lg lg:text-xl text-neutral-500 flex items-center gap-1 leading-none group
        hover:text-neutral-200 transition-colors whitespace-nowrap
        py-2 sm:mt-2">
          Confira todos os meus trabalhos
          <i class="fi fi-rr-angle-small-right flex
          group-hover:translate-x-1 transition-all"></i>
        </a>
  
      </div>
      
      <div class="m-px rounded-2xl sm:relative absolute inset-[0] overflow-hidden sm:overflow-visible
       sm:opacity-100 opacity-20">
       <!-- <div class="sm:hidden absolute inset-0 z-10 backdrop-blur-xs bg-neutral-950/50"></div> -->
        <div class="absolute top-[-40px] min-w-full w-fit-conent sm:left-[10%] xs:left-[5%] left-[-40%]
        h-[380px] grid gap-6 lg:grid-cols-[repeat(2,400px)] grid-cols-[repeat(3,330px)]
        -rotate-0 -rotate-x-20 rotate-z-10">
          <app-infinite-scrolling
           direction="vertical" [speed]="42" [gap]="-40" [fadeCorner]="false" [pauseOnHover]="false">
            @for (item of projectColumns()[0].column; track item.id) {
              <article class="w-[330px] lg:w-[400px] h-[200px]" 
              #item app-project-card app-glowing-border-item 
              [borderGlowColor]="item.is_highlight ? 'hsla(48, 40%, 60%, .7)' : undefined"
              [borderColor]="item.is_highlight ? 'hsl(48, 30%, 15%)' : 'var(--color-neutral-900)'"
              [glowColor]="item.is_highlight ? 'hsla(48, 25%, 60%, 0.05)' : undefined"
              [project]="item"
              (previewClick)="navigateToProjects()"
              (detailsClick)="navigateToProjects()"
              ></article>
              
            }
          </app-infinite-scrolling>
          @if(true) {
            <app-infinite-scrolling direction="vertical" [speed]="42" [gap]="-40" [reverse]="true" [fadeCorner]="false" [pauseOnHover]="false" padding="0 0 0 2px"
            class="relative">
              <div class="absolute inset-0 z-10 backdrop-blur-[2px] bg-neutral-950/50"></div>
              @for (item of projectColumns()[1].column; track item.id) {
                <article class="w-[330px] lg:w-[400px] h-[200px]" 
                #item app-project-card app-glowing-border-item 
                [borderGlowColor]="item.is_highlight ? 'hsla(48, 40%, 60%, .7)' : undefined"
                [borderColor]="item.is_highlight ? 'hsl(48, 30%, 15%)' : 'var(--color-neutral-900)'"
                [glowColor]="item.is_highlight ? 'hsla(48, 25%, 60%, 0.05)' : undefined"
                [project]="item"
                (previewClick)="navigateToProjects()"
                (detailsClick)="navigateToProjects()"
                ></article>
    
              }
            </app-infinite-scrolling>
          }
      
        </div>
      </div>
    </div>
  </div>
</div>