@let main = lg().main;

<main class="relative overflow-hidden" id="home">

    <img src="./patterns/binary-code.webp" srcset="./patterns/binary-code-400.webp 420w, ./patterns/binary-code-800.webp 800w, ./patterns/binary-code.webp 1920w"
    class="saturate-0 halftone-mask absolute mix-blend-exclusion invert w-full h-[calc(100%+5rem)] object-cover -z-10" aria-hidden="true" fetchpriority="high" loading="eager">

    <section class="page-container pt-18 md:pt-24 pb-12 md:pb-20">
        <div class="flex gap-6 flex-col items-center justify-center" InterObs [intersectChild]="true">
            <div class="flex flex-col items-center text-center out-of-view">
                <span class="flex flex-col items-center gap-2 sm:mb-0 mb-2 sm:font-medium">
                    {{ main.misc }}
                    <span class="inline-block h-[1px] w-[3rem] bg-neutral-800"></span> 
                </span>
                <h1 class="sm:text-6xl text-5xl w-[min(60rem,100%)] leading-tight">
                    {{ main.title[0] }} <b class="font-semibold"> {{ main.title[1] }} </b>
                </h1>
            </div>
            <div class="w-[min(35rem,100%)] mx-auto delay-2 out-of-view">
                <p class="text-xl text-neutral-400 text-center">
                    {{ main.description }}
                </p>
            </div>

            <div class="flex items-center sm:gap-8 gap-6 delay-4 out-of-view">
                <button custom-btn variant="contained"
                class="text-lg min-w-[11rem] py-2 px-4 rounded-xl font-semibold flex items-center justify-center gap-2"
                (click)="scrollTo('contact')">
                <i class="fi fi-sr-rocket-lunch flex"></i>
                    {{ main.button1 }}
                </button>
                <button custom-btn variant="outline"
                class="text-lg min-w-[11rem] py-2 px-4 rounded-xl hidden sm:block"
                (click)="scrollTo('my-works')">
                    {{ main.button2 }}
                </button>
            </div>


        </div>
    </section>
</main>

<router-outlet></router-outlet>