<main class="page-container py-18 md:py-24 min-h-screen">
  <div class="flex sm:flex-row flex-col items-center gap-4 justify-between">
    <h1 class="text-3xl font-semibold">Meus Projetos</h1>
    <em-button-toggle-group em-button-toggle-animation [style.view-transition-name]="'project-filters'"
    class="text-neutral-300"
    [ngModel]="projectFilter()"
    (ngModelChange)="onFilterChange($event)"
    name="project-filters" aria-label="Filtros de projetos">
      <div class="inline-flex items-center justify-center px-3 border-r border-neutral-800 mr-2">
        <i class="fi fi-sr-filter flex text-neutral-700"></i>
      </div>
      <button em-button-toggle value="criacao" active="text-white">Criação</button>
      <button em-button-toggle value="pinned" active="text-white">Destaques</button>
      <button em-button-toggle value="commit" active="text-white">Commit</button>
    </em-button-toggle-group>
  </div>

  <div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4 py-8"
  app-glowing-border glowColor="hsla(0, 0%, 25%, 0.1)" borderColor="var(--color-neutral-900)"
  glowSize="500px">
  @for (item of filteredProjects(); track item.id) {
    <!-- exlude README -->
    @let readmeRepository = item.repository_url !== 'https://github.com/edumoreiira/edumoreiira';
      @if(readmeRepository) {
        @if(openedProjectId() !== item.id) {
          <div>
            <article app-project-card app-glowing-border-item #projectCard
            class="h-full"
            [project]="item"
            [ngClass]="{'bg-gradient-to-bl from-0% to-50% from-[hsl(48_40%_15%_/_.25)] to-transparent': item.is_highlight }"
            [borderGlowColor]="item.is_highlight ? 'hsla(48, 40%, 60%, .7)' : undefined"
            [borderColor]="item.is_highlight ? 'hsl(48, 30%, 15%)' : undefined"
            [glowColor]="item.is_highlight ? 'hsla(48, 25%, 60%, 0.05)' : undefined"
            (detailsClick)="openOverlay(item, 'details', projectCard)"
            (previewClick)="openOverlay(item, 'preview', projectCard)"
            >
            </article>
          </div>
        } @else {
          <div></div>
        }
      }
    }
  </div>
</main>