:host.em-button-toggle-group-animation {
  --width: 0px;
  --left: 0;
  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    // top: var(--top);
    left: var(--left);
    height: var(--height);
    width: var(--width);
    border-radius: .5rem;
    pointer-events: none;
    opacity: 1;
    border: 1px solid var(--color-neutral-800);
    transition: all 0.2s ease-out;
  }
}