<!-- <div class="border border-neutral-800 rounded-t-xl overflow-hidden bg-neutral-950 flex flex-col h-full w-full" style="view-transition-name: site-preview"> -->
    <div class="flex justify-between border-b border-neutral-800 rounded-t-xl p-2 sm:p-4" style="view-transition-name: technologies;">
        <span></span>
        <div class="flex flex-col sm:flex-row items-center gap-2">
            <span class="font-semibold sm:text-lg text-sm" style="view-transition-name: technologies-title;">{{ lg().works.previewer.techsHeader }}</span>
            <div class="flex items-center divide-x-1 divide-neutral-800 sm:text-base text-xs">
                @if(website().technologies.includes('angular')) {
                    <span class="px-2 text-red-100" [style.view-transition-name]="'angular'">Angular</span>
                }
                @if(website().technologies.includes('tailwind')) {
                    <span class="px-2 text-cyan-100" [style.view-transition-name]="'tailwind'">Tailwind</span>
                }
                @if(website().technologies.includes('html')) {
                    <span class="px-2 text-neutral-400" [style.view-transition-name]="'html'">HTML</span>
                }
                @if(website().technologies.includes('css')) {
                    <span class="px-2 text-neutral-400" [style.view-transition-name]="'css'">CSS</span>
                }
                @if(website().technologies.includes('js')) {
                    <span class="px-2 text-neutral-400" [style.view-transition-name]="'js'">JavaScript</span>
                }
            </div>
        </div>
        <button class="p-2 text-xl hover:opacity-50 transition-all" aria-label="Close preview" (click)="onClose()">
            <i class="fi fi-rr-cross-small flex"></i>
        </button>
    </div>
    <div style="view-transition-name: img-preview" class="relative group h-full overflow-hidden transition-all duration-300">
        <app-iframe-loader 
        class="w-full h-full"
        [url]="website().websiteUrl"
        [imageUrl]="website().imgUrl"
        />
        
    </div>
<!-- </div> -->