
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "tailwindcss";
@use "./app/styles/_themes.scss";
@use "./app/styles/_animations.scss";
@use "./app/styles/_glow-cards.scss";
@use 'prismjs/themes/prism-okaidia.css';
@use 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@use 'prismjs/plugins/line-highlight/prism-line-highlight.css';
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// body {
//   // Default the application to a light color theme. This can be changed to
//   // `dark` to enable the dark color theme, or to `light dark` to defer to the
//   // user's system settings.
//   color-scheme: light;

//   // Set a default background, font and text colors for the application using
//   // Angular Material's system-level CSS variables. Learn more about these
//   // variables at https://material.angular.dev/guide/system-variables
//   background-color: var(--mat-sys-surface);
//   color: var(--mat-sys-on-surface);
//   // font: var(--mat-sys-body-medium);

//   // Reset the user agent margin.
//   margin: 0;
// }

@theme {
  --default-transition-timing-function: ease-in-out;
  --default-transition-duration: 175ms;
  --breakpoint-xs: 420px;
}

:root {
  color-scheme: dark;
  font-size: 14.5px;
  @media screen and (min-width: 400px) {
    font-size: 15px;
  }
  @media screen and (min-width: 768px) { 
    font-size: 15.5px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

body, html, app-root { display: block; min-height: 100%; }

app-pages-layout { height: 100%; display: flex; flex-direction: column; }

html {
  scrollbar-width: thin;
}
body {
    background-color: var(--color-neutral-950);
    color: hsl(0, 0%, 95%);
}

button {
    &:hover:not(:disabled) {
        cursor: pointer;
    }
}

.page-container {
  width: min(1200px, 100% - 3rem);
  margin: 0 auto;
}

.cdk-overlay-blurred-backdrop {
  background-color: hsla(0, 0%, 20%, 0.1);
  backdrop-filter: blur(4px);
  transition: all 400ms 150ms ease-in-out;
}

.project-overlay-pane {
  transition: width 0.4s ease-in-out, 
              height 0.4s ease-in-out, 
              max-width 0.4s ease-in-out, 
              max-height 0.4s ease-in-out;
}

.markdown-styles {
  ul {
    @apply list-disc list-inside my-1 marker:text-yellow-500/90;
  }
  li {
  }
  a {
    @apply text-yellow-500/90 underline decoration-yellow-400/30 hover:decoration-yellow-500/70 transition;
  }
  h3 {
    @apply text-lg font-semibold mt-4 mb-2;
  }
  code {
    @apply bg-neutral-800/70 rounded px-1 py-0.5 font-mono text-sm;
  }
  p:not(:last-child) {
    @apply mb-2;
  }
}

// ::view-transition-image-pair(project-card-*) {
//   z-index: 9999;
// }

// @keyframes backdrop-fade-in {
//   from { opacity: 0; }
// }

// // Customiza a animação de entrada para o backdrop
// ::view-transition-new(overlay-backdrop) {
//   animation: backdrop-fade-in 300ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// // Customiza a animação de saída para o backdrop
// ::view-transition-old(overlay-backdrop) {
//   animation: none; /* Por padrão, já há um fade-out */
// }

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
