@use "tailwindcss";
@use "./app/styles/_themes.scss";
@use "./app/styles/_animations.scss";
@use "./app/styles/_glow-cards.scss";
@use 'prismjs/themes/prism-okaidia.css';
@use 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@use 'prismjs/plugins/line-highlight/prism-line-highlight.css';

@theme {
  --default-transition-timing-function: ease-in-out;
  --default-transition-duration: 175ms;
  --breakpoint-xs: 420px;
}

:root {
  color-scheme: dark;
  font-size: 14.5px;
  @media screen and (min-width: 400px) {
    font-size: 15px;
  }
  @media screen and (min-width: 768px) { 
    font-size: 15.5px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

html {
  scrollbar-width: thin;
}
body {
    background-color: var(--color-neutral-950);
    color: hsl(0, 0%, 95%);
}

button {
    &:hover:not(:disabled) {
        cursor: pointer;
    }
}

.page-container {
  width: min(1200px, 100% - 3rem);
  margin: 0 auto;
}

.cdk-overlay-blurred-backdrop {
  backdrop-filter: blur(4px);
}

.markdown-styles {
  ul {
    @apply list-disc list-inside my-4 marker:text-yellow-500/90;
  }
  li {
  }
  a {
    @apply text-yellow-500/90 underline decoration-yellow-400/30 hover:decoration-yellow-500/70 transition;
  }
  
}



