<section>
  <div class="page-container py-20 grid grid-cols-[6rem_1fr]">
<!--  -->
    <app-timeline [lineGradient]="{ type: 'custom-middle', middleColors: ['transparent', '#3B82F6', '#3B82F6'] }"
    [useObserverAnimation]="true"
    ></app-timeline>
    <div>
      <h1 class="text-4xl font-semibold">Um pouco sobre mim!</h1>
      <p class="mt-4 text-lg text-zinc-400 leading-relaxed">Sou um desenvolvedor apaixonado por tecnologia e inovação, com experiência em diversas áreas do desenvolvimento de software. Adoro criar soluções que façam a diferença e estou sempre em busca de novos desafios para aprimorar minhas habilidades.</p>
      <p class="mt-4 text-lg text-zinc-400 leading-relaxed">Sou um desenvolvedor apaixonado por tecnologia e inovação, com experiência em diversas áreas do desenvolvimento de software. Adoro criar soluções que façam a diferença e estou sempre em busca de novos desafios para aprimorar minhas habilidades.</p>
      <p class="mt-4 text-lg text-zinc-400 leading-relaxed">Sou um desenvolvedor apaixonado por tecnologia e inovação, com experiência em diversas áreas do desenvolvimento de software. Adoro criar soluções que façam a diferença e estou sempre em busca de novos desafios para aprimorar minhas habilidades.</p>
      <p class="mt-4 text-lg text-zinc-400 leading-relaxed">Sou um desenvolvedor apaixonado por tecnologia e inovação, com experiência em diversas áreas do desenvolvimento de software. Adoro criar soluções que façam a diferença e estou sempre em busca de novos desafios para aprimorar minhas habilidades.</p>
    </div>
<!--  -->


  </div>
    
</section>